<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .left {
            text-align: left;
        }
    </style>
</head>

<body style="text-align: center;">
    <h1>UPDATE INFORMATION</h1>
    <form action="{%url 'xuly_capnhat'%}">


        <table align="center">
            <tr>
                <td class="left">NAME</td>
                <td><input type="text" id="name" name="name" value="{{nguoi_dung.name}}"></td>

            </tr>
            <tr>
                <td class="left">PASSWORD</td>
                <td><input type="text" id="password" name="password" value="{{nguoi_dung.password}}"></td>

            </tr>
            <tr>
                <td class="left">EMAIL</td>
                <td><input type="text" id="email" name="email" value="{{nguoi_dung.email}}"></td>

            </tr>
            <tr>
                <td colspan="2"><input type="submit" id="cn" name="cn" value="Update"></td>

            </tr>

        </table>
    </form>
</body>

</html>